/* General Style */
.body_main {
    margin: 2rem;
    background: linear-gradient(rgba(182, 180, 76, 0.299) , rgba(126, 125, 125, 0.688));
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: gearfont;
    src:url(jackofgears.ttf)
}
/* Heading Style */
.heading_container {
    font-family: gearfont;
    height: 30rem;
    width: 60rem;
    background-image: url(../image/header_background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 30px 30px;
    margin-bottom: 2rem;
}
.glassframe {
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(7px);
    color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.645);
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem; 
}